<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DOM Rock, Paper and Scissors With CSS</title>
  <link rel="stylesheet" href="../style/rock-paper-scissor.css">
</head>
<body>
  <p>Rock Paper Scissors</p>
  <button class="move-btn js-rock-btn">
    <img src="../img/rock-emoji.png" alt="rock" height="50px" width="50px">
  </button>
  <button class="move-btn js-paper-btn">
    <img src="../img/paper-emoji.png" alt="rock" height="50px" width="50px">
  </button>
  <button class="move-btn js-scissors-btn">
    <img src="../img/scissors-emoji.png" alt="rock" height="50px" width="50px">
  </button>
  <p id="js-result"></p>
  <p id="js-moves"></p>
  <p id="js-scores"></p>
  <button class="btn js-reset-btn">Reset Score</button>
  <button class="btn js-auto-play-btn">Auto Play</button>
  <div class="js-alert-div" style="display: none;">
    <p>Are you sure you want to reset the score?</p>
    <button class="js-yes-btn btn">Yes</button>
    <button class="js-no-btn btn">No</button>
  </div>

  <script src="../javascript/rock-paper-scissor.js"></script>
</body>
</html>